# python
.pytest_cache
*__pycache__
python
htmlcov
.coverage

# scripts
*.bat
*.sh
!external/build*.*

# textures
*.dds
!tests/*.dds
*.tga
*.png
*.jpg
*.hdr
*.xcf

# blender
*.blend*

# binary
*.dll
*.so
*.dylib
*.exe
*.zip

# doc
*.txt
!changelog.txt
